body.flicker-start {
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: #0f0f0f;
  color: #f5f5f5;
}

.greek-exit-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  z-index: 9999;
}

.greek-exit-circle:hover {
  box-shadow: 0 0 25px 10px gold;
  background: gold;
  cursor: pointer;
}
